body {
  font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
  margin: 0px;
}
#principal table, #principal tr, #principal td{
  border-collapse:collapse;
  width:700px;
}
#principal h4{
font-size:14px;
  text-align: center;
}
#principal h5{
  border-bottom: dotted 1px #000;
}
#cabecera p{
  width: 600px;
  font-weight: bold;
  text-align: center;
  font-size:14px;
}
#interna table, #interna tr, #interna td{
  border-collapse:collapse;
  border:1px #000 solid;
  font-size:12px;
  width:auto;
}
#parrafo{
  font-size:12px;
  letter-spacing: 0.1em;
  text-align:justify;
}
#pie{
  padding: 2px;
  text-align: center;
  font-size: 12px;
}
.centrado{
  text-align: center;
}
.negrita{
  font-weight:bold;
}
.texto{
	text-align:justify;
}
