body {
  font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
  font-size:9px;
  margin: 10px;
  width:189px;
  height:70px;
  text-align:center;
  alignment-adjust:auto;
  font-weight: bold;
}
