 div.contenedor {
 position: relative;
 width: 100px;
 }

 div.fill {
 font-family: Arial;
 font-size: 8pt;
 display: none;
 width: 340px;
 position:absolute;
 color: #E0EBEB;
 background-color: #E0EBEB;
 border: 1px solid #008585;
 overflow: auto;
 height: 150px;
 top: -1px;
 }

 tr.fill {
 font-family: Arial;
 font-size: 8pt;
 color: #E0EBEB;
 background-color: #008585;
 border: 1px solid #008585;
 }

 tr.no_fill {
 font-family: Arial;
 font-size: 8pt;
 background-color: #E0EBEB;
 color: #008585;
 border: 1px solid #E0EBEB;
 }