body
{
	margin: 0 auto;
	padding: 0;
	background-color: #909484;
	background-image: url('../img/Page-BgTexture.jpg');
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: top left;
	
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

a
{
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: underline;
  color: #000;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
  color: #000;
}
/* Adds special style to a visited link. */
a:visited, a.visited
{
  text-decoration: none;
  color:#000;
}
/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  color:#3D4B10;
  text-decoration:underline;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

input, select, text
{
  border-color:#0000B2; 
  border-style:solid; 
  border-width:1px;
  border-collapse:collapse; 
}
img{
	border:0;
		
}

textarea{
  border-color:#0000B2; 
  border-style:solid; 
  border-width:1px;
  border-collapse:collapse;	
}

fieldset
{
  border: 1px solid #0000B2;
  margin-top: 15px;
  padding: 15px;
  background-color:#FFF;
}

legend
{
  margin: 0;
  font-size: 14px;
  font-weight:bold;
  color:#009;
  padding: 0 10px;
}

#art-page-background-gradient
{
	position: absolute;
	background-image: url('../img/Page-BgGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width:100%;
	height: 900px;
	
}
#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
	min-width:1000px;
}
#art-page-background-gradient
{
	background-position: top left;
}
/* begin Button */

/*INPUT[type=submit],
INPUT[type=reset],
INPUT[type=button]{
	height: 22px;
	font-size: 12px;
	background: url('../img/BotonL.png') left no-repeat,
	 url('../img/BotonR.png') right no-repeat,
	 url('../img/BotonC.png') center repeat-x;
	text-align: center;
	cursor:pointer;
	font-weight:bold;
	border:0;
	padding: 0 10px 5px 10px !important;
	color: #FFFFFF !important;
}
INPUT[type=submit]:hover,
INPUT[type=reset]:hover,
INPUT[type=button]:hover{
	height: 22px;
	font-size: 12px;
	background: url('../img/BotonLu.png') left no-repeat,
	 url('../img/BotonRu.png') right no-repeat,
	 url('../img/BotonCu.png') center repeat-x;
	text-align: center;
	cursor:pointer;
	font-weight:bold;
	border:0;
	padding: 0 10px 5px 10px !important;
	color: #FFFFFF !important;
}*/
INPUT[type=submit],
INPUT[type=reset],
INPUT[type=button]{
	height: 20px;
	font-size: 12px;
	background: url('../img/Button.png');
	color:#FFF;
	background-position:top left;
	border-bottom:0;
	border-left:0;
	border-top:0;
	font-weight:bold;
	padding-bottom:3px;
}
INPUT[type=submit]:hover,
INPUT[type=reset]:hover,
INPUT[type=button]:hover{
	height: 20px;
	font-size: 12px;
	color:#FFF;
	background: url('../img/Button.png');
	background-position: center left;
	font-weight:bold;
	border-bottom:0;
	border-left:0;
	border-top:0;
	padding-bottom:3px;
}